@import url('https://fonts.googleapis.com/css?family=Baloo|Baloo+Bhai+2&display=swap');

/*general settings
###########################################################*/
* {
	font-family: 'Baloo Bhai 2', cursive;
	font-size:1em;
	font-weight:100;
	color: rgb(60,60,60);
}

div {
	background-color: white;
}

a:link, a:visited {
	text-decoration: underline;
}

/*menu bar
###########################################################*/
.navbar  {
	margin: 0px;
	padding: 0px;
}

div.navbar-collapse  {
	background-color:rgb(60,60,60);
	color:white;
}

div.navbar-header {
	background-color:rgb(60,60,60);
	color:white;
}

span.navbar-toggler-icon {
	color: grey;
}

ul.navbar-nav {
	background-color:rgb(60,60,60);
	color:white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width:100%;
}


ul.navbar-nav li a {
	display: block;
	background-color:rgb(60,60,60);
	color:white;
	font-weight:700;
	text-align: left;
	padding: 10px;
	text-decoration: none;
}

ul.navbar-nav li a:hover, ul.navbar-nav li.active a:hover {
	background-color: rgb(220,220,220);
	color: rgb(255,128,0);
	font-weight:700;
	transition-timing-function:ease-in-out;
	transition-delay:0s;
	transition-duration:0.2s;
}

ul.navbar-nav li.active a {
	color: red;
	font-weight:700;
}


/*header section settings
###########################################################*/
div.header {
	background-color:rgb(60,60,60);
	margin-bottom:0px;
	padding-bottom: 0px;
	line-height:1.2;
}

div.header_nav {
	background-color:rgb(60,60,60);
	border-bottom-color:rgb(255,128,0);
	border-bottom-style: solid;
	border-bottom-width:2px;
	margin-top:0px;
	padding-top: 0px;
	margin-bottom:0px;
	padding-bottom: 0px;
}

div.header_main {
	text-align:center;
	font-weight:500;
	font-size:2em;
	color:white;
	background-color:rgb(60,60,60);
}

div.header_left {
	text-align:center;	
	color:grey;
	background-color:rgb(60,60,60);
	padding-top:2px;
}


div.header_right, div.header_right i {
	text-align:center;
	color:grey;
	background-color:rgb(60,60,60);
	padding-top:2px;
}

div.header_right i:hover {
	text-align:center;
	color:rgb(255,128,0);
	background-color:rgb(60,60,60);
	padding-top:2px;
	transition-timing-function:ease-in-out;
	transition-delay:0s;
	transition-duration:0.2s;
	cursor: pointer;
}


/*left side settings
###########################################################*/
div.l_side {
	text-align:left;
	background-color: rgb(252,252,252);
}


/*right side settings
###########################################################*/
div.r_side {
	text-align:left;	
	background-color: rgb(252,252,252);
}


/*content area settings
###########################################################*/
div.content {
	text-align:justify;
	color: black;
	background-color: white;
	margin-top:0;
}


div.content p {
	margin:0;
	padding-bottom: 8px;
}


div.content h5, div.content h2 {
	text-align:left;
	font-weight:700;
	margin:0;
	padding-top: 8px;
	padding-bottom: 8px;
}


div.content h5[data-bs-toggle="collapse"]:hover {
	color:rgb(255,128,0);
	cursor: pointer;
}


/*footer settings
###########################################################*/
div.footer {
	text-align:center;	
	background-color: rgb(245,245,245);
	padding-bottom:50px;
}


/*global expand/collapse buttons (top right of content)
###########################################################*/
button.exp-col, button.exp-col i {
	color: grey;
	float: right;
	border:none;
	margin-left:2px;
	margin-right:2px;
	opacity:0.6;
}

button.exp-col i:hover {
	color: rgb(255,128,0);
	border:none;
	opacity:1;
	cursor: pointer;
}


/*image settings
###########################################################*/
img.float-200-right {
	max-height: 200px;
	width: auto;
	display: block;
	overflow:auto;
	float:right;
	margin:1em;
	margin-top:2px;
}


img.inline {
	max-height: 500px;
	max-width: 80%;
	display: block;
	overflow:auto;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
}


img.inline-float {
	max-width: 12em;
	max-height:5em;
	overflow:auto;
	float:right;
}


/*for transparent background image ... unused
###################################################3*/
.background-trans:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
    background-image: url('./NAT_4199x.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


/*image title text
###########################################################*/
.fig-title {
	text-align:center;
	font-style: normal;
	display: block;
	font-weight:700;
	margin-bottom: 3px;
}

/*image carousel
###########################################################*/
carousel-item, .carousel-item img{
	width:auto;
	height:auto;
} 

#carouselExampleIndicators {
	width:50%;
    margin:auto;
} 


/*in-line code examples
###########################################################*/
.eg {
	text-align:left;
	background-color: rgb(240,240,240);
	color: green;  /*black*/
	font-weight:700;
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
}


/*block code snippets
###########################################################*/
div.snippet {
	background-color: rgb(240,240,240);
	text-align:left;
	color: green;  /*black*/
	font-weight:700;
	margin-left:10px;
	margin-bottom:5px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:10px;
	border-left-style:solid;
	border-left-color:rgb(200,200,200);
	border-left-width:10px;
}


/*references
###########################################################*/
i.ref {
	font-size:0.7em;
	margin-bottom:1px;
	margin-top:3px;
}


/*ajax example text
###########################################################*/
span.ajax_text {
	color:black;
	font-weight: 700;
	font-size:1.5em;
	background: rgb(240,240,240);
	border-radius:5px;
	padding:5px;
}

/*jquery-ui sortable vertical list
###########################################################*/
#sortable li {
	text-align:left;
	background-color: rgb(240,240,240);
	color: darkred;
	font-weight:700;
	max-width: 10em;
	margin-bottom:3px;
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	letter-spacing:2px;
}

/*jquery-ui sortable horizontal list
###########################################################*/
#list {
	text-align:left;
	background-color: rgb(240,240,240);
	color: darkred;
	font-weight:700;
	margin-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
	border-radius:5px;
	letter-spacing:2px;
}


/*hyperlink on the css page to the no css version
###########################################################*/
.css_link, .css_link_hot {
	text-align:center;
	font-weight:700;
	margin-top:5px;
	margin-bottom:5px;
}

.css_link_hot {
	color: red;
}



/*instructions popover for the js validation example
###########################################################*/
.instructions-pop {
	width:8em;
	margin-bottom:10px;
	background-color: red !important;
	color: white !important;
	font-weight:700;
	border:none;
}


.instructions-pop:hover {
	background-color: darkred !important;
	color:pink !important;
}



